body {
    background-image: url(../images/star-wars-wallpaper-hd-1920x1080.jpg);
    background-size: 1680px;
    background-repeat: no-repeat;
    font-size: .9em;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 5px 0px 14px rgba(255,224,100,0.68);
}


 #Obi-wan_Kenobi, #Obi-wan_Kenobienemy, #Obi-wan_Kenobibtn {
    background-image: url(../images/kenobi.png);
    width: 200px;
    height: 100px;
    background-size: 200px;
    background-repeat: no-repeat;
}
#Luke_Skywalker, #Luke_Skywalkerenemy, #Luke_Skywalkerbtn  {
    background-image: url(../images/lukeskywalker.png);
    width: 200px;
    height: 100px;
    background-size: 250px;
    background-repeat: no-repeat;
}
#Darth_Maul, #Darth_Maulenemy, #Darth_Maulbtn {
    background-image: url(../images/darthmaul.png);
    width: 200px;
    height: 100px;
    background-size: 250px;
    background-repeat: no-repeat;
}
#Darth_Sidious, #Darth_Sidiousenemy, #Darth_Sidiousbtn {
    background-image: url(../images/darthsidious.jpg);
    width: 200px;
    height: 100px;
    background-size: 250px;
    background-repeat: no-repeat;
}

@media (max-width: 1200px){
    body {
        font-size: 16px;
    }
}

.topdiv, .characters, .bottomdiv{
    background-color: green;
    color: white;
    margin: 0 2px 0 2px;
    text-align: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.playertopdiv, .playerbottomdiv, .selected-player{
    background-color: green;
    color: white;
    margin: 0 2px 0 2px;
    text-align: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
}
.enemytopdiv, .enemybottomdiv, .enemybtn{
    background-color: red;
    color: white;
    margin: 0 2px 0 2px;
    text-align: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.playerbottomdiv, .enemybottomdiv {
    margin-bottom: 20px;
}
.defendertopdiv, .defenderbottomdiv, .defenderbtn {
    background-color: black;
    color: white;
    margin: 0 2px 0 2px;
    text-align: center;
}
#attwrap {
    line-height: .1em;
    margin-top: 10px;
}
